# Configuration Path: /4Born-Server/Server/4Born-Solutions/Clickup-Backend/clickupbackend/google-search-ranking/client/nginx/google-search-ranking.nginx
server {
    listen 5525;
    server_name localhost;

    root /4Born-Server/Server/4Born-Solutions/Clickup-Backend/clickupbackend/google-search-ranking/client/dist;
    index index.html index.php;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass unix:/run/php/php8.3-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location ~ /\.ht {
        deny all;
    }
}
